__pycache__/
.env
*.sqlite3
*.db
*.pyc
.meu_ambiente_v/
meu_ambiente_v/
.meu_ambiente_v
meu_ambiente_v
venv/
.idea/
.vscode/
.alembic.ini/
alembic.ini/
.alembic.ini
alembic.ini

.alembic/
alembic/
.alembic
alembic